<nav class="navbar-container">
    <section class="navbar-logo__container">
        <img class="navbar-logo"
            src="https://res.cloudinary.com/ferjen/image/upload/v1684726692/digital-store/logo/llama-icon-256x256_oqoifa.svg"
            alt="Llama logo" />
        <h4 class="ff-secondary">Digital-Store</h4>
    </section>
    <section>
        <ul class="navbar-list">
            <li class="ff-primary uppercase">
                <a href="">Products</a>
            </li>
            <li class="ff-primary uppercase">Manager</li>
        </ul>
    </section>
</nav>